* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.container {
    height: 85vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.sub-container {
    margin-top: -300px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: underline;
    color: #ff0000;
}

.sub-container h4:not(:first-child) {
    margin-left: 200px;
}

/**/

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30%;
}

.main-container {
    font-size: 3.5em;
}

p {
    margin-top: 100px;
}